<!DOCTYPE html>
<html lang="es">
<head>
    <title>cargarImagen</title>
</head>
<body>
    <div id='Smensaje'>
        <h1> Ingrese su imagen</h1>
    </div>
    
    <div id='ScargarImagen'>
        cargarImagen
        <input type="file" id='cargarImagen' accept="image/*" >
        <input type="submit">
    </div>
    
    <div id='SimagenCargada'>
        imagenCargada
    </div>
    <div id='Srespuesta'>
        RESPUESTA :
        <div id='jsonRespuesta'>

        </div>
    </div>
    
</body>
</html>